.wrapper {
    width: 100%;
    display: flex;
    height: auto;
    margin: 0;
}

.text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;

    h1 {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;

        width: 100%;
        margin: 0;

        font-family: 'league spartan';
        font-weight: 700;
        font-size: 6rem;
        text-wrap: break;
        text-transform: uppercase;
        line-height: normal;
        color: var(--text-dark);
    }

    p {
        font-size: 1.6rem;
        line-height: normal;
        margin: 0;    
    }
    
}
