<div class="wrapper">
    <div class="text">
        <h1 class="league-spartan-bold">
            <span>Clyde</span>
            <span>&nbsp;</span>
            <span>Delgado</span>
        </h1>
        <p class="manrope-bold">A freelance front-end developer and web designer.</p>
        <!-- <p class="manrope-bold">A passionate Computer Science student with a knack for problem-solving and a drive to create innovative solutions. I’m currently seeking an internship to apply my knowledge in real-world scenarios, contribute to exciting projects, and grow my skills. Let's connect and build the future together!</p> -->
         
        <!-- <button>Contact Me</button>
        <button>Projects</button> -->
    </div>
</div>